{% extends '@EasyAdmin/page/content.html.twig' %}

{% block main %}

    <h1>Interface d'administration</h1>
    <p>Développé par:</p>
    <ul>
        <li>Camille Gleen</li>
        <li>Abdellah Rachouani</li>
        <li>Fatima Zhora Bakali</li>
    </ul>

{% endblock %}